body{
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.header-container{
    display: flex;
    width: 100%;
    position: relative;
}
.header-text{
    position: absolute;
    margin-top: 250px;
    margin-left: 200px;
    margin-bottom:150px ;
}
.header-image{
    background-color: #f4f4f4;
    margin-left: 450px;
    margin-right: 0px;
}
.header-image img{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 660px;
    margin-left:300px;
    margin-right: 100px;
}
.readMoreButton{
    border-style: none;
    width: 150px;
    height: 45px;
    background-color: #FBE001;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
}
.readMoreButton:hover{
    transform: scale(1.1);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}
.header-text h1{
    font-size: 4rem;
}
/* Service section style */
.serirvices-intro{
    text-align: center;
    margin-top: 100px;
}
.services-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 50px;
    margin-left: 50px;
}
.service{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.service-img{
    margin-right: 20px;
}
/* Navbar Style start */
.nav-menu{
    display: flex;
    justify-content: center;
}
.nav-menu li{
    list-style: none;
}
.nav-menu li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 20px;
    font-size: 14px;
    position: relative;
}
.nav-menu li a:before{
     content: '';
     position: absolute;
     top: 70%;
     bottom: 50%;
     width: 0%;
     height: 3%;
     background: #ff7230;
     transition: all 0.3s linear;
}
.nav-menu li a:hover::before{
    width: 70%;
}
/* Gallery section start */
.gallery-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 100px;
    margin-right: 100px;
}
.gallery-img{
    margin: 20px;
    margin-bottom: 50px;
    background-color: #f1f1f1;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
}
.gallery-img img{
    width: 100%;
    height: auto;
    display: block;
}
.gallery-img:hover{
     transform: scale(1.1);
     box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
     transition: 0.5s;
}
/* Navbar Style End */
.about-container{
    display: flex;
    margin: 50px;
}
.about-text{
    width: 50%;
    margin-right: 50px;
}
.about-image{
    width: 50%;
}
.skills-container{
    display: flex;
    flex-direction: row;
    column-gap: 100px;
    width: 100%;
}
/* Team-Member Style */
.Team-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 100px;
    width: 100%;
    /* margin-left: 50px; */
}
.newsletter-container{
    background-color: #f4f4f4;
    height: 150px;
    width: 1110px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 160px;
    text-align: center;
    padding-left: 50px;
    margin-bottom: 50px;
}
.input-container{
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 50px;
}
.input-field{
    height: 45px;
    width: 300px;
    padding-left: 20px;
    border: none;
    border-radius: 10px;
}

@media only screen and (max-width: 767px) {
    /* Styles for small devices (up to 767px) */
    body{
        /* background-color: #FBE001; */
    }
    .header-container{
        display: grid;
    }
    .header-text{
        background-color: red;
        position: inherit;
        width: 400px;
        margin-top: 20px;
        margin-left: 0px;
        margin-bottom: 0px;
        padding: 10px;
    }
    .header-image{
        background-color: aquamarine;
        width: 400px;
        margin-left: 0;
    }
    .header-img{
        width: 400px;
    }
    .header-text h1{
        font-size: 1.5rem;
    }
  }